#contact {
  background-image: url("/contact_bg.jpg");
  color: $white;
  padding: $area-padding;
  input,
  textarea {
    border: none;
    padding: $standard-padding/2;
    width: 100%;
    outline: none;
    margin-bottom: $standard-padding;
  }
  textarea {
    height: 200px;
    resize: none;
  }
  input[type="submit"] {
    cursor: pointer;
    background-color: $primary-color;
    color: $white;
    max-width: 400px;
    transition: 0.5s;
    &:hover {
      background-color: $primary-color-light;
    }
    &:focus {
      background-color: $primary-color-dark;
    }
  }
  label {
    display: block;
  }
  #recaptcha {
    margin-bottom: $standard-padding;
  }
}
